absl-py==1.4.0
asgiref==3.7.2
astunparse==1.6.3
attrs==22.2.0
beautifulsoup4==4.9.3
blackboxprotobuf==1.0.1
bs4==0.0.1
cachetools==5.3.1
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==3.1.0
chromedriver-binary==93.0.4577.15.0
click==7.1.2
cluster==1.4.1.post3
colorama==0.4.4
comtypes==1.1.14
configparser==5.0.2
crayons==0.4.0
cycler==0.10.0
dialogflow==2.0.0
Distance==0.1.3
Django==4.2.2
dnspython==2.1.0
dominate==2.5.2
email-validator==1.1.2
et-xmlfile==1.1.0
ffmpeg==1.4
ffprobe==0.5
filelock==3.9.0
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.4.1
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
flatbuffers==23.3.3
gast==0.4.0
google-api-core==1.34.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.1
greenlet==1.0.0
grpcio==1.56.0
grpcio-status==1.48.2
gunicorn==20.1.0
h5py==3.9.0
idna==2.10
importlib-metadata==6.7.0
itsdangerous==1.1.0
jax==0.4.13
Jinja2==2.11.2
joblib==1.0.1
keras==2.12.0
kiwisolver==1.3.1
libclang==16.0.0
lxml==4.6.2
Markdown==3.4.3
MarkupSafe==1.1.1
matplotlib==3.4.2
mediapipe==0.9.1.0
mintotp==0.3.0
ml-dtypes==0.2.0
mpmath==1.2.1
networkx==3.0
nltk==3.8.1
numpy==1.22.4
oauthlib==3.2.2
onedrivesdk==2.0.1
opencv-contrib-python==4.7.0.72
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==23.1
pandas==1.2.2
parts==1.6.0
Pillow==8.2.0
ppretty==1.3
products==1.2.0
protobuf==3.20.3
psycopg2-binary==2.8.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydub==0.25.1
pygame==2.0.1
PyJWT==1.7.1
pyodbc==4.0.30
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt5-stubs==5.15.6.0
PySide2==5.15.2.1
python-dateutil==2.8.1
python-dotenv==0.17.1
pyttsx3==2.90
pytz==2021.1
pywin32==306
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==0.24.2
scipy==1.7.0
selenium==3.141.0
shiboken2==5.15.2.1
six==1.15.0
soupsieve==2.2
SpeechRecognition==3.10.0
spotipy==2.17.1
SQLAlchemy==1.3.19
sqlparse==0.4.4
sympy==1.11.1
tabulate==0.8.9
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==2.1.0
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tqdm==4.65.0
twilio==6.53.0
typing-extensions==4.7.0
tzdata==2023.3
urllib3==1.25.10
visitor==0.1.3
webdriver-manager==3.4.2
Werkzeug==1.0.1
wrapt==1.14.1
WTForms==2.3.3
wyze-sdk==1.2.3
xlrd==1.2.0
zipp==3.15.0
